/* You can add global styles to this file, and also import other style files */
.formContent{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.authorsHeader{
    display: flex;
    flex-direction: row;
    gap: 2vh;
}